@{

<div class="container">
  <h2>Employee Details</h2>
              
  <table class="table table-success table-striped table-bordered">
    <thead>
      <tr class="table-danger">
        <th>Emp_ID</th>
        <th>Emp_Name</th>
        <th>Designation</th>
        <th>Salary</th>

      </tr>
    </thead>
    <tbody>
      <tr class="table-warning">
        <td>234</td>
        <td>Ram</td>
        <td>Manager</td>
        <td>40000</td>
      </tr>
      <tr class="table-dark">
        <td>876</td>
        <td>Monika</td>
        <td>CEO</td>
        <td>80000</td>

      </tr>
      <tr class="table-secondary">
        <td>786</td>
        <td>Raj</td>
        <td>Acountant</td>
        <td>25000</td>

      </tr>
      <tr class="table-primary">
        <td>638</td>
        <td>Sita</td>
        <td>Receptionist</td>
        <td>20000</td>

      </tr>
       <tr class="table-dark">
        <td>867</td>
        <td>Hari</td>
        <td>Security Guard</td>
        <td>15000</td>

      </tr>
    </tbody>
  </table>
</div>
}
